# Mysql
DBUSER = "root"
DBPASS = ""
DBHOST = "localhost"
DBPORT = "3306"
DBNAME = "campyuk"

# JWT signature secret
JWT_KEY = "campyuk_api"

# Cloudinary
CLOUDINARY_CLOUD_NAME = 
CLOUDINARY_API_KEY = 
CLOUDINARY_API_SECRET = 
CLOUDINARY_UPLOAD_FOLDER = 

# Midtrans  
MERCHANT_ID = 
CLIENT_ID = 
SERVER_KEY = 

# Google API
GOOGLE_REDIRECT_CALLBACK = "http://localhost:8000/auth/google/callback"
GOOGLE_CLIENT_ID =
GOOGLE_CLIENT_SECRET = 